<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarefa 1</title>
</head>
<body>
    <h1>Um titulo bem legal</h1>
    <p>To começando bem no basico</p>
    <form action="/sugestao" method="GET">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required>
        <label for="descricao">Ingredientes:</label>
        <input type="text" id="ingredientes" name="ingredientes" required>
        <button type="submit">Enviar</button>
    </form>

    <nav>
       <a href="contato">Contato</a>
    </nav>
</body>
</html>